streamlit
git+https://github.com/PrithivirajDamodaran/Gramformer.git
pillow
pandas
Jinja2
spacy
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.0.0/en_core_web_sm-2.0.0.tar.gz
